<html>
<head>
    <title> Instar OS - Map </title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-graph.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.8.0/js/anychart-data-adapter.min.js"></script>
</head>
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">  
<body>
    
    <div class="instarlogo">Instar OS --------------------</div>
    
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="..">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Map </li>
        </ol>
    </nav>
    
    <div class="row" style="height:400px;">
        <div class="col-md-8">
            <div id="container">
                <button onclick='chartType()' type="button" class="btn btn-primary">Switch View</button>
                <script type="text/javascript">
                    
                    // create data
                    var body_list = [
                    {% for body in body_list %}
                    '{{body.name}}',
                    {%endfor%}
                    ]
                    var body_image_list = [
                    {% for body in body_list %}
                    '{{body.imageUrl}}',
                    {%endfor%}
                    ]
                    var body_parent_list = [
                    {% for body in body_list %}
                    '{{body.parent}}',
                    {%endfor%}
                    ]
                    var body_x_list = [
                    {% for body in body_list %}
                    {{body.x}},
                    
                    {%endfor%}
                    ]
                    var body_y_list = [
                    {% for body in body_list %}
                    {{body.y}},
                    {%endfor%}
                    ]

                    var data = {
                        
                        nodes: [
                        // {id: "{{planets}}", x:   0, y: 100},
                        
                        ],
                        edges: [
                        //{from: "Sol", to: "The Bleeding Sun"},
                        ]
                    };
                    for(i = 0; i < body_list.length; i++){
                        data.nodes.push({id: body_list[i], fill: {src: body_image_list[i]}, x: body_x_list[i], y: body_y_list[i]})
                    }
                    for(i = 0; i < body_list.length; i++){
                        if (body_list[i] == "Ender"){
                            data.edges.push({from:"Ender", to:body_list[Math.floor(Math.random()*body_list.length)]});
                        } 
                        if (body_parent_list[i] != 'None'){
                            data.edges.push({from:body_parent_list[i], to:body_list[i]})
                        }
                    }
                    var chart = anychart.graph(data);
                    // set the title
                    chart.title("");
                    chart.background().stroke({
                        color: "#222",
                        thickness: 2,
                    })
                    chart.edges().selected().stroke("#222", 2);
                    chart.background().fill("#333")
                    // draw the chart
                    chart.container("container");
                    chart.draw();
                    function chartType(){
                        if (chart.layout().type() == "forced") chart.layout().type("fixed");
                        else chart.layout().type("forced");
                    }
                    // add a listener
                    chart.listen('click', function(e){
                        var tag = e.domTarget.tag;
                        if (tag) {
                            
                            if (tag.type === 'node') {
                                // get url from data directly
                                var url;
                                for (var i = 0; i < data.nodes.length; i++) {
                                    if (data.nodes[i].id === tag.id) {
                                        document.getElementById("moreInfoName").textContent = data.nodes[i].id
                                        document.getElementById("moreInfoImg").src = body_image_list[i]
                                        break;
                                    }
                                }
                                
                            }
                        }
                    });
                    
                    
                </script>
            </div>
        </div>
        <div class="col-md-3">
            <h2 id="moreInfoName">
                Earth
            </h2>
            <img src="https://cdn.discordapp.com/attachments/432564281113051136/952995078912241674/819133564.gif" 
                alt="Body_image" style="width:96px;height:96px;" id="moreInfoImg">
            <p id="moreInfoDesc">
                
            </p>
        </div>
        
    </div>
    
</body>
</html>



